<html ng-app="listaTelefonica">

<head>
    <meta charset="utf-8" />
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .btn {
            margin-top: 5px;
        }
        .selecionado {
			background-color: palegoldenrod;
		}
		.negrito {
			font-weight: bold;
		}
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular
            .module("listaTelefonica")
            .controller("listaTelefonicaCtrl", function ($scope) {
                $scope.app = "Lista Telefônica";
                $scope.contatos = [
                    { nome: "Aparato Futurista", telefone: "043999999999", cor: "paleturquoise"},
                    { nome: "Jorge", telefone: "042991999999", cor: "palegreen"},
                    { nome: "Mariana", telefone: "044988999999", cor: "palevioletred"},
                ];
                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                };
                $scope.operadoras = [
                    { nome: "Claro", codigo: 21, categoria: "Celular" },
                    { nome: "Oi", codigo: 14, categoria: "Celular" },
                    { nome: "Vivo", codigo: 15, categoria: "Celular" },
                    { nome: "Tim", codigo: 41, categoria: "Celular" },
                    { nome: "GVT", codigo: 15, categoria: "Fixo" },
                    { nome: "Embratel", codigo: 21, categoria: "Fixo" }
                ];
                $scope.apagarContatos = function (contatos){
                    $scope.contatos =  contatos.filter(function (contato) {
                        if (!contato.selecionado) return contato;
                   });
                };
                $scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};
            });
    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <!-- ng-ig= lazy loading, coisas que pesam mais na memória-->
        <!-- <table class="table table-striped"> -->

            <!-- <table ng-hide="contatos.length <= 0" class="table"> -->
                <!-- <table ng-if="contatos.length > 0" class="table"> -->
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <!-- <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos"> -->
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <!-- <td ng-repeat="(key, value) in contato">{{value}}</td> -->
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>

				<td><div style="width: 15px; height: 15px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
        <input class="form-control" type="number" ng-model="contato.telefone" placeholder="Telefone" />

        <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"> -->
        <select class="form-control" ng-model="contato.operadora"
            ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary" ng-click="adicionarContato(contato)"
            ng-disabled="!contato.nome || !contato.telefone">
            Adicionar contato
        </button>
        <button class="btn btn-danger" ng-click="apagarContatos(contatos)"
        ng-disabled="!isContatoSelecionado(contatos)" > 
        <!-- ng-show="isContatoSelecionado(contatos)" -->
            Apagar contatos
        </button>
    </div>
</body>

</html>